body {
  background: #17012c;
}

.header {
  background-image: none;
  background-color: #17012c;
}

.header-title {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 271.24 137.73'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff%3B%7D.cls-2%7Bfill:%23cacfff%3B%7D.cls-3%7Bfill:%23777aaf%3B%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M27.91 133.87c-.85-3.46-1.28-5.19-2.13-8.69-4.72.49-7.07.74-11.79 1.27L11.83 136c-4.73.67-7.1 1-11.83 1.75Q6.21 111.33 12.79 85c6 0 9 0 14.94-.05q6.16 23.76 12.57 47.46C35.34 133 32.86 133.27 27.91 133.87Zm-7.78-38h-.3c-1.8 8.54-2.7 12.86-4.49 21.6 3.59-.31 5.38-.47 9-.76C22.64 108.45 21.8 104.28 20.13 95.85Z'/%3E%3Cpath class='cls-1' d='M43.42 132.12l.15-47.18 12 0-.12 36.41c5.62-.4 8.43-.59 14.06-.92 0 3.75 0 5.63 0 9.39C59.07 130.56 53.85 131 43.42 132.12Z'/%3E%3Cpath class='cls-1' d='M98.56 128.1a34.17 34.17 0 0 1-8.42 1.38 22.12 22.12 0 0 1-8.9-1.18A17 17 0 0 1 74.63 124a19.47 19.47 0 0 1-4.14-7.12 29.15 29.15 0 0 1-1.42-9.51 30.47 30.47 0 0 1 1.48-9.65 22.39 22.39 0 0 1 4.15-7.51 18 18 0 0 1 6.45-4.83 20.16 20.16 0 0 1 8.37-1.69 23.62 23.62 0 0 1 9 1.5 16 16 0 0 1 5.68 3.73c-2.6 2.86-3.89 4.3-6.49 7.19a9.16 9.16 0 0 0-7.32-3 8.15 8.15 0 0 0-4.26 1.14 9.31 9.31 0 0 0-3 3 13.6 13.6 0 0 0-1.76 4.39 26.05 26.05 0 0 0-.07 10.6 12.69 12.69 0 0 0 1.67 4.29 8.61 8.61 0 0 0 2.91 2.85 7.45 7.45 0 0 0 4.23.93 8.27 8.27 0 0 0 4.19-1.08l0-8.11-5.65.18c0-3.44 0-5.15 0-8.59 6.43-.14 9.64-.2 16.08-.3l0 22.92A24.45 24.45 0 0 1 98.56 128.1Z'/%3E%3Cpath class='cls-1' d='M149.77 106a28.59 28.59 0 0 1-1.41 9.22 20.22 20.22 0 0 1-4 7.09 17.84 17.84 0 0 1-6.37 4.53 21.75 21.75 0 0 1-8.47 1.64A21.37 21.37 0 0 1 121 127a17.32 17.32 0 0 1-6.37-4.46 20.14 20.14 0 0 1-4-7.08 28.59 28.59 0 0 1-1.4-9.27 29.54 29.54 0 0 1 1.39-9.25 20.08 20.08 0 0 1 4-7.1A17.48 17.48 0 0 1 121 85.27a23.31 23.31 0 0 1 17 0 17.72 17.72 0 0 1 6.36 4.51 20.49 20.49 0 0 1 4 7A28.58 28.58 0 0 1 149.77 106ZM137.56 106a24.34 24.34 0 0 0-.53-5.13 14.18 14.18 0 0 0-1.52-4.12A8 8 0 0 0 133 94a6.14 6.14 0 0 0-3.49-1A6.46 6.46 0 0 0 126 94a8 8 0 0 0-2.53 2.75 13.58 13.58 0 0 0-1.49 4.13 25.23 25.23 0 0 0-.49 5.15 26.41 26.41 0 0 0 .48 5.17 13.55 13.55 0 0 0 1.49 4.14 8.06 8.06 0 0 0 2.53 2.74 6.3 6.3 0 0 0 3.54 1 6 6 0 0 0 3.5-1 8.36 8.36 0 0 0 2.5-2.76 14.06 14.06 0 0 0 1.52-4.15A24.11 24.11 0 0 0 137.56 106Z'/%3E%3Cpath class='cls-1' d='M167.46 93.59l0 8.82c5 .08 7.55.12 12.58.23 0 3.37 0 5.06 0 8.43-5-.15-7.5-.21-12.51-.33 0 6.87 0 10.3 0 17.16-4.83-.17-7.25-.24-12.08-.35l-.06-42.73 25.66 0c0 3.56 0 5.33 0 8.88C175.68 93.66 172.94 93.63 167.46 93.59Z'/%3E%3Cpath class='cls-1' d='M186.24 128.77q-.08-22-.13-43.92l12 0 .12 35.33c5.62.32 8.44.49 14.06.88 0 3.83 0 5.74 0 9.56C201.92 129.74 196.69 129.36 186.24 128.77Z'/%3E%3Cpath class='cls-1' d='M216.23 131q-.09-23-.16-46.08l12 0 .15 47.22C223.41 131.66 221 131.42 216.23 131Z'/%3E%3Cpath class='cls-1' d='M258.44 135.85c-2.91-7.12-4.37-10.61-7.29-17.46-2.86 6.33-4.29 9.44-7.16 15.56-5-.6-7.43-.89-12.39-1.43q6.59-12 12.85-24.19C239.68 98.7 237.29 94 232.5 85l12.42 0c2.6 6 3.9 9 6.5 15.17 2.6-6 3.9-9 6.51-15.13l12.19 0q-5.81 12.11-11.94 24.06c4.52 9.46 8.8 19 13.06 28.59C266.12 136.94 263.56 136.56 258.44 135.85Z'/%3E%3Cpath class='cls-2' d='M120.13 45.15l3.39 15.16h-13a1.52 1.52 0 0 1-1.47-1.18L106 45.31a.13.13 0 0 1 .13-.16Z'/%3E%3Cpath class='cls-3' d='M110.05 60.23c3.12 0 3.39-4.45 3.62-5.35.34-1.3-.21 5.43-.21 5.43Z'/%3E%3Cpath class='cls-3' d='M151.11 45.15l-3.39 15.16h13a1.5 1.5 0 0 0 1.47-1.18l3.1-13.82a.13.13 0 0 0-.13-.16Z'/%3E%3Cpolygon class='cls-3' points='112.4 60.31 126.58 60.31 140.08 0 125.89 0 112.4 60.31'/%3E%3Cpolygon class='cls-2' points='158.78 60.31 144.6 60.31 131.11 0 145.29 0 158.78 60.31'/%3E%3Cpath class='cls-2' d='M161.19 60.23c-3.12 0-3.39-4.45-3.62-5.35-.34-1.3.21 5.43.21 5.43Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    no-repeat center;
  width: 100px;
  height: 100px;
}
.header-title a {
  display: none;
}
.header-title::after {
  content: '';
}

.container {
  padding: 0;
}

.hit-name,
.hit-price {
  color: #ffffff;
}
.hit-title {
  font-size: 1.25em;
}
.hit-price {
  margin-top: 1em;
}

#searchbox {
  margin-bottom: 0rem;
  flex-grow: 1;
  margin-left: 2rem;
}

.ais-SearchBox {
  margin: 1em 0;
}

.ais-RefinementList {
  color: #cacfff;
}

button.ais-ClearRefinements-button.ais-ClearRefinements-button--disabled,
.ais-CurrentRefinements-item {
  white-space: nowrap;
  font-size: 0.8rem;
  color: #fff;
}

.ais-ClearRefinements-button,
.ais-CurrentRefinements-reset,
.ais-GeoSearch-redo,
.ais-GeoSearch-reset,
.ais-HierarchicalMenu-showMore,
.ais-InfiniteHits-loadMore,
.ais-InfiniteHits-loadPrevious,
.ais-InfiniteResults-loadMore,
.ais-Menu-showMore,
.ais-RefinementList-showMore {
  background-color: #cacfff;
  background-image: unset;
  border: none;
}
.ais-CurrentRefinements-item {
  background-color: #777aaf;
}

.ais-ClearRefinements-button:disabled[disabled],
.ais-ClearRefinements-button--disabled {
  background-color: #777aaf;
  background-image: unset;
}
.ais-ClearRefinements-button--disabled:hover {
  background-color: #777aaf;
}
.ais-ClearRefinements-button {
  background-color: #cacfff;
}
.ais-ClearRefinements-button:hover,
.ais-RefinementList-showMore:hover {
  background-color: #777aaf;
  background-image: unset;
}
.ais-ClearRefinements {
  margin: 1em 0;
  width: 200px;
}

.ais-Pagination-item {
  padding: 0 0.15em;
}
.ais-Pagination-item--disabled .ais-Pagination-link,
.ais-Pagination-link {
  color: #777aaf;
  background-color: unset;
  background-image: unset;
}
.ais-Pagination-item--selected .ais-Pagination-link {
  background-color: #777aaf;
  border-color: #777aaf;
  color: white;
}

.ais-Pagination-link:focus,
.ais-Pagination-link:hover {
  color: #777aaf;
  background-color: unset;
  background-image: unset;
}

.ais-Hits-list {
  margin-top: -1rem;
  margin-left: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ais-Hits-item {
  box-shadow: none;
  width: calc(25% - 1rem);
  background: unset;
  align-items: unset;
}

.ais-Hits-item img {
  margin-right: 1em;
  margin-bottom: 1em;
  width: 100%;
  max-height: unset;
}

.ais-Highlight-highlighted {
  background-color: #777aaf;
}

.add-to-cart {
  align-items: center;
  background-color: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  min-height: 2rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.add-to-cart:hover,
.add-to-cart:focus {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
.add-to-cart:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.hit-add-cart {
  display: flex;
  justify-content: center;
}
